.service-card__wrapper{
    display: table;
}

.service-card{
    max-width: 300px;
    border-radius: 20px;
    background-color: var(--background-color);
    border: 2px solid var(--green-main);
    overflow: hidden;
    transition: scale 0.2s, box-shadow 0.2s;
}

.service-card__content{
    width:300px;
    height: 208px;
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
}

.content__text{
    margin: 15px 20px;
    display: inline;
}

.content__title{
    font-size: var(--h5);
    font-weight: 400;
}

.content__image {
    position: relative;
    height: 100%;
    display: inline;
}

.content__service-count{
    display: inline;
}
  
.service-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
}

.service-card:hover{
    scale: 1.05;
    box-shadow: 0px 0px 5px #ffffff;
    transition: scale 0.2s, box-shadow 0.2s;
}