.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    background: var(--background-color);
    padding: 20px;
    border-radius: 12px;
    border: 2px var(--green-main) solid;
    width: 400px;
    max-width: 100%;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

.modal__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__tittle {
    color: var(--green-main)
}

.modal__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__form-group {
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__form-group p {
    font-size: var(--caption);
    color: red;
    opacity: 0;
    margin-bottom: 5px;
}

.modal__button-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.modal a {
    color: var(--green-main);
    text-decoration: none;
    margin-top: 10px;
}