.orangeButton {
    background-color: #FFC470;
    border-radius: 36px;
    border: none;
    padding: 13px 32px;
    color: #FFFFFF;
    font-size: 20px;
}

.orangeButton :hover {
    background-color: black;
}