.green-button{
    font-size: 20px;
    padding: 13px 32px;
    border-radius: 40px;
    color: var(--green-main);
    border: 1px solid var(--green-main);
    transition: background-color 500ms ease, color 500ms ease;
}

.green-button:hover{
    background-color: var(--green-main);
    color: var(--white-main);
}